body {
  background-color: #f2f2f2;
  color: #505050; /* High contrast */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.message {
  text-align: center;
}
